@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");

body {
  font-family: "New Tegomin", serif;

  background-image: linear-gradient(to right, #373b44, #4286f4);
  animation: bg_animate 2s infinite ease-in-out;
}

.btn-success{
    background-image: linear-gradient(to right, #373b44, #4286f4);
}

span:nth-child(1n){
    display: inline-block;
    animation: treme 1.5s infinite ease-in-out;
}

@keyframes treme {
    50%{
        transform: scale(1.3);
        font-size: 1.005em;
        color: #cecece;
    }
    100%{
        font-size: .955em;
        color: #4286f4;
    }
}